<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.eclipse.jdt.launching.localJavaApplication">
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_PATHS">
<listEntry value="/AD/src/v6_ad1_2018/SpansTest.java"/>
</listAttribute>
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_TYPES">
<listEntry value="1"/>
</listAttribute>
<stringAttribute key="org.eclipse.jdt.launching.MAIN_TYPE" value="v6_ad1_2018.SpansTest"/>
<stringAttribute key="org.eclipse.jdt.launching.PROGRAM_ARGUMENTS" value="-t 12"/>
<stringAttribute key="org.eclipse.jdt.launching.PROJECT_ATTR" value="AD"/>
<stringAttribute key="org.eclipse.jdt.launching.VM_ARGUMENTS" value="-Xint -Xms10m -Xmx10m"/>
</launchConfiguration>
